<div mat-dialog-content-example [formGroup]="newProject">
<br>    
    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div>Listado trabajadores Excel o PDF</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container></div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div><br>CFDI mensual de trabajadores</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div><br><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container></div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="300px">
            <div class="titles"><br>Pago IMSS mensual</div>
        </div>
        <div fxFlex.gt-sm="300px">
            <div></div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <ng-container></ng-container>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div> Comprobante de pago del Banco en PDF</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container></div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div><br>SIPARE en pdf</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <br><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div><br>Cedula mensual SUA en PDF (trabajadores)</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <br><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div class="titles"><br>Pago SAT (ISR)</div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div></div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div></div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div>Comprobante de pago del Banco en PDF</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div><br>Declaración de IVA</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <br><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div class="titles"><br>Pago ISN</div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div></div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div></div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div><br>Comprobante de pago del Banco en PDF</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <br><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div><br>Declaración</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div>
                <br><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container>
            </div>
        </div>
    </div>
    <br>
    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div>Opinión Positiva IMSS  (Dos meses atrás)</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container></div>
        </div>
    </div>
    <br>
    <div fxLayout="row" class="division">
        <div fxFlex.gt-sm="150px">
            <div><br></div>
        </div>
        <div fxFlex.gt-sm="500px">
            <div>Opinion Positiva SAT (Dos meses atrás)</div>
        </div>
        <div fxFlex.gt-sm="70px">
            <div><ng-container><button class="button"><i class="fa fa-arrow-up fa-lg icon-cog-blue"></i></button><button class="button"><i class="fa fa-eye fa-lg icon-cog-orange"></i></button></ng-container></div>
        </div>
    </div>
</div>

<br><br><br>
<div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div></div>
    </div>
    <div fxFlex.gt-sm="20%">
        <div><button mat-raised-button color="accent" (click)="save(newProject, $event)"><i class="fa fa-check fa-lg icon-cog-wite"></i></button></div>
    </div>
    <div fxFlex.gt-sm="20%">
        <div><button mat-raised-button color="warn" (click)="cancel($event)"><i class="fa fa-arrow-left fa-lg icon-cog-wite"></i></button></div>
    </div>
    <div fxFlex.gt-sm="20%">
        <div></div>
    </div>
    <div fxFlex.gt-sm="20%">
        <div></div>
    </div>
</div> 
