<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Proveedores</h3>
                </div>

                <!-- <form> -->

                <h6 class="heading-small text-muted mb-4"></h6>
                <hr class="my-4" />
                <!-- </form> -->
                <div class="card">
                    <!-- <table>
                        <tr>
                            <td class="col20"><input type="text" class="form-control form-control-line"
                                    placeholder="BUSCAR" (keyup)="filtrar($event)">
                            </td>
                            <td class="col70"></td>
                            <td class="col10"><button mat-raised-button color="primary"
                                    (click)="descargarExcel()">Descargar</button></td>
                            <td class="col10"><button mat-raised-button color="accent"
                                    (click)="newcustomer($event)">Nuevo Proveedor</button></td>
                            <td class="col10"></td>
                        </tr>
                    </table> -->
                    <br>
                </div>

                <!-- INICIA CUERPO DE LA PÁGINA-->
                <div class="col-12 col-md-12 p-0">
                    <div class="card">
                        <div class="card-body card-body-table">
                            <mat-table [dataSource]="dataSourceShow" matSort class="mat-elevation-z8"
                                style="width: 95%;">

                                
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="col30" hidden>id </th>
                                    <td mat-cell *matCellDef="let element" hidden> {{element.proveedorid}} </td>
                                </ng-container>

                                
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="col30">Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>

                                
                                <ng-container matColumnDef="direccion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="col10"> Dirección</th>
                                    <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                                </ng-container>

                                
                                <ng-container matColumnDef="rfc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="col10"> rfc </th>
                                    <td mat-cell *matCellDef="let element"> {{element.rfc}}
                                    </td>
                                </ng-container>

                                
                                <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> Estatus </th>
                                    <td mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="element.estado == true">ACTIVO</ng-container>
                                        <ng-container *ngIf="element.estado == false">INACTIVO</ng-container>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ver">
                                    <th mat-header-cell *matHeaderCellDef class=".colbuttons"> Ver </th>
                                    <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                                            (click)="decline(element, $event)">Ver</button> </td>
                                </ng-container>

                                <ng-container matColumnDef="autorize">
                                    <th mat-header-cell *matHeaderCellDef class=".colbuttons"> Autorizar </th>
                                    <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                                            (click)="accept(element, $event)">Autorizar</button> </td>
                                </ng-container>

                                <ng-container matColumnDef="declain">
                                    <th mat-header-cell *matHeaderCellDef class=".colbuttons"> Denegar </th>
                                    <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                                            (click)="decline(element, $event)"><i class="fa fa-lock"></i></button> </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </mat-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
