.col10{
    width: 10%;
    vertical-align: middle;
}

.col20{
    width: 20%;
    vertical-align: middle;
}

.col30{
    width: 30%;
    vertical-align: middle;
}

.col70{
    width: 70%;
    vertical-align: middle;
}

.colbuttons{
    vertical-align: bottom;
    text-align: center;
}

.controltable50{
    width: 50px;
}

.controltable100{
    width: 100px;
}

.column{
    vertical-align: middle;
}

.control{
    height: 35px;
    vertical-align: middle;
}

.division{
    padding-bottom: 1px;
}