.col10{
    width: 10%;
    vertical-align: middle;
}

.col20{
    width: 20%;
    vertical-align: middle;
}

.col30{
    width: 30%;
    vertical-align: middle;
}

.col70{
    width: 70%;
    vertical-align: middle;
}

.colbuttons{
    vertical-align: bottom;
    text-align: left;
}

.icon-cog {
    color: orange;
}

.icon-cog-cancel {
    color: red;
}

.icon-cog-check {
    color: rgb(126, 198, 17);
}

.icon-cog-user {
    color: rgb(105, 151, 229);
}

.icon-cog-edit {
    color: orange;
}
