 <div fxLayout="row">
  <h4>Nuevo Proyecto</h4>
</div>
<br>
<div mat-dialog-content-example [formGroup]="newProject">
  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div><br>Código</div>
    </div>
    <div fxFlex.gt-sm="10%" >
        <div>
          <mat-form-field>
          <!-- <input type="text" class="form-control form-control-line control" formControlName="codigo_proyecto" [(ngModel)]="codigo_proyecto" disabled > -->
          <input [type]="codigo_proyecto" matInput class="form-control form-control-line control" formControlName="codigo_proyecto" [(ngModel)]="codigo_proyecto" disabled >
          
          <span *ngIf="newProject.hasError('codigo_proyecto', 'codigo_proyecto') && newProject.get('codigo_proyecto').touched">
            Please enter the correct email, this email not valid.
          </span>
        </mat-form-field>
        </div>
    </div>
    <div fxFlex.gt-sm="25%" >
      <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div><br>Nombre</div>
    </div>
    <div fxFlex.gt-sm="25%" >
      <div>
        <mat-form-field>
          <!--[(ngModel)]="nombretxt" -->
          <!-- <input type="text" class="form-control form-control-line control" placeholder="" formControlName="nombre_proyecto" [(ngModel)]="nombre_proyecto"> -->
          <input [type]="nombre_proyecto" matInput class="form-control form-control-line control" placeholder="" formControlName="nombre_proyecto" [(ngModel)]="nombre_proyecto">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div><br>Cliente</div>
    </div>
    <div fxFlex.gt-sm="25%" >
        <div>
          <mat-form-field>
            <mat-select class="form-control control" formControlName="cliente" [(ngModel)]="cliente"><!--(selectionChange)="emitFilters($event, 'Enviado')"-->
              <mat-option value= "0" selected="selected">SELECCIONA</mat-option>
              <mat-option value= "1">Javier Peña y asociados</mat-option>
              <mat-option value= "2">Ragasa</mat-option>
              <mat-option value= "3">Cemex</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div fxFlex.gt-sm="10%" >
      <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div><br>Presupuesto</div>
    </div>
    <div fxFlex.gt-sm="25%" >
      <div>
        <mat-form-field>
          <input [type]="presupuesto_proyecto" matInput class="form-control form-control-line control" formControlName="presupuesto_proyecto" [(ngModel)]="presupuesto_proyecto" step="any" > <!--required="required" min="0" max="999999999"  pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"-->
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div><br>Fecha Inicial</div>
    </div>
    <div fxFlex.gt-sm="25%" >
        <div><mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha_inicial_proyecto" (dateChange)="fechaInicial($event)" [(ngModel)]="fecha_inicial_proyecto" class="control">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field></div>
    </div>
    <div fxFlex.gt-sm="10%" >
      <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div><br>Fecha Final</div>
    </div>
    <div fxFlex.gt-sm="25%" >
      <div><mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="pickerf" formControlName="fecha_final_proyecto" [(ngModel)]="fecha_final_proyecto" class="control">
        <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
        <mat-datepicker #pickerf></mat-datepicker>
      </mat-form-field></div>
    </div>
  </div>

  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div><br>Responsable</div>
    </div>
    <div fxFlex.gt-sm="25%">
        <div>
          <mat-form-field>
            <input [type]="responsable_proyecto" matInput class="form-control form-control-line control" placeholder="Responsable" formControlName="responsable_proyecto" [(ngModel)]="responsable_proyecto">
          </mat-form-field>
        </div>
    </div>
    <div fxFlex.gt-sm="10%" >
      <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div><br>Centro de costos</div>
    </div>
    <div fxFlex.gt-sm="25%">
      <div>
        <mat-form-field>
          <mat-select class="form-control" formControlName="centroDeCostos" [(ngModel)]="centro_de_costo_proyecto"><!--(selectionChange)="emitFilters($event, 'Enviado')"-->
          <mat-option value= "0" selected="selected">SELECCIONA</mat-option>
          <mat-option value= "1">Acabados</mat-option>
          <mat-option value= "2">Tuberias</mat-option>
          <mat-option value= "3">Electrico</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div><br>Almacén</div>
    </div>
    <div fxFlex.gt-sm="25%" >
        <div>
          <mat-form-field>
            <mat-select class="form-control"  formControlName="almacen" [(ngModel)]="almacen"><!--(selectionChange)="emitFilters($event, 'Enviado')"-->
              <mat-option value= "0" selected="selected">SELECCIONA</mat-option>
              <mat-option value= "1">California</mat-option>
              <mat-option value= "2">Norte</mat-option>
              <mat-option value= "3">Centro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div></div>
    </div>
  </div>
</div>
  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
        <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div><button mat-raised-button color="accent" (click)="save(newProject, $event)">Guardar</button></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div><button mat-raised-button color="warn" (click)="cancel($event)">Cancelar</button></div>
    </div>
  </div>
