<p>Reporte maestro</p>
<div class="card">
    <table>
        <tr>
            <td class="col20">
            </td>
            <td class="col70"></td>
            <td class="col10"><button mat-raised-button color="primary"
                    (click)="descargarExcel()">Descargar</button></td>
            <td class="col10"><button mat-raised-button color="accent"
                    (click)="cancel($event)">Cancelar</button></td>
            <td class="col10"></td>
        </tr>
    </table>
    <br>
</div>