.col10{
    width: 10%;
    vertical-align: middle;
}

.col20{
    width: 20%;
    vertical-align: middle;
}

.col30{
    width: 30%;
    vertical-align: middle;
}

.col70{
    width: 70%;
    vertical-align: middle;
}

.col300{
    width: 300px;
    vertical-align: middle;
}

.colbuttons{
    vertical-align: middle;
    text-align: center;
}

.column{
    vertical-align: middle;
}

.icon-cog {
    color: orange;
  }

.icon-cog-wite {
    color: white;
  }

  .icon-cog-blue{
    color: rgb(22, 22, 175);
}

.icon-cog-red {
    color: red;
  }

.icon-cog-green {
    color: green;
  }

.icon-cog-gray {
    color: gray;
  }

  .icon-cog-reload{
    color: rgb(18, 18, 229);
}