<div fxLayout="row">
    <h4>Nueva Requisición</h4>
  </div>
  <br>
  <div mat-dialog-content-example [formGroup]="newProject">
    <div fxLayout="row" class="division">
      <div fxFlex.gt-sm="20%">
          <div *ngIf="requisicionId == 0"><br>Proyecto</div>
      </div>
      <div fxFlex.gt-sm="25%" >
        <div *ngIf="requisicionId == 0">
          <mat-form-field>
            <!-- [(ngModel)]="proyecto_id" (selectionChange)="emitFilters($event, 'Enviado')"  -->
            <mat-select class="form-control control" formControlName="proyecto_id" (selectionChange)="proyectoSelected()" ><!--[(ngModel)]="proyecto_id" -->
              <mat-option *ngFor="let op of datasourcePorjects" [value]="op.proyecto_id" >
                {{op.codigo_proyecto}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span *ngIf="!newProject.get('proyecto_id').valid && newProject.get('proyecto_id').touched" class="help-block" style="color: red;"> seleccione un proyecto</span>
        </div>
      </div>
      <div fxFlex.gt-sm="10%" >
        <div></div>
      </div>
      <div fxFlex.gt-sm="20%" >
        <div *ngIf="requisicionId == 0"><br>Proyecto-Categoría</div>
      </div>
      <div fxFlex.gt-sm="25%" >
            <div *ngIf="requisicionId == 0">
              <mat-form-field>
                <mat-select class="form-control control" formControlName="categoria_id" (selectionChange)="categorySelected()"><!-- (selectionChange)="emitFilters($event, 'Enviado')" [(ngModel)]="categoria_id" -->
                  <mat-option *ngFor="let opx of datasourceCategories" [value]="opx.proyectocategoria_id">
                    {{opx.codigo_proyectocategoria}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <span *ngIf="!newProject.get('categoria_id').valid && newProject.get('categoria_id').touched" class="help-block" style="color: red;"> seleccione una categoría</span>
          </div>
      </div>
    </div>
  
    <div fxLayout="row" class="division">
      <div fxFlex.gt-sm="20%">
          <div><br>Requisición</div>
      </div>
      <div fxFlex.gt-sm="25%" >
          <div>
            <mat-form-field>
              <input [type]="requisicion_Numero" matInput class="form-control form-control-line control" formControlName="requisicion_Numero" ><!--[(ngModel)]="requisicion_Numero"-->
            </mat-form-field>
            <span *ngIf="!newProject.get('requisicion_Numero').valid && newProject.get('requisicion_Numero').touched" class="help-block" style="color: red;"> capture un número de Requisición</span>
          </div>
      </div>
      <div fxFlex.gt-sm="10%" >
        <div></div>
      </div>
      <div fxFlex.gt-sm="20%" >
        <div><br>Fecha</div>
      </div>
      <div fxFlex.gt-sm="25%" >
        <div>
          <mat-form-field appearance="fill">
            <mat-label>{{fecha | date: 'dd-MM-yyyy'}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" (dateChange)="fechaInicial($event)" class="control" > <!--[(ngModel)]="fecha" -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [startAt]="fecha" #picker></mat-datepicker>
          </mat-form-field></div>
      </div>
    </div>
    <div fxLayout="row" class="division" *ngIf="requisicionId == 0">
        <div fxFlex.gt-sm="20%">
            <div class="input-group mb-3">
              <input type="file" name="loadFile" id="loadFile" class="form-control form-control-line" placeholder="SELECCIONA ARCHIVO" style="display: none;" (change)="onFileChange($event)" onclick="this.value=null;"> <!--[(ngModel)]="buscar" -->
              <label for="loadFile" style="margin: 0; text-align: left; width: 400px;" class="btn btn-outline-dark"><b style="background-color: orange;">{{nombreArchivo}}</b></label><br><!--{{nombreArchivo}}  formControlName="loadFile"--> 
            </div>
        </div>
        <div fxFlex.gt-sm="20%">
            <!-- <div><button mat-raised-button color="primary" (click)="save(newProject, $event)">Subir Archivo</button></div> -->
        </div>
        <div fxFlex.gt-sm="20%">
            <div></div>
        </div>
    </div>

    <br>
    <!--Tabla de captura-->
    <div fxLayout="row" class="division">
        
    </div>

    <!-- SECCION CAPTURA MANUAL -->
  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="10%">
        <div>
          <mat-form-field>
            <input [type]="sku_Detalle" matInput class="form-control form-control-line control" formControlName="sku_Detalle" placeholder="SKU">
          </mat-form-field>
        </div>
    </div>
    <div fxFlex.gt-sm="5%"></div>
    <div fxFlex.gt-sm="10%">
      <div>
        <mat-form-field>
          <input [type]="cantidad_Detalle" matInput class="form-control form-control-line control" formControlName="cantidad_Detalle" placeholder="Cantidad">
        </mat-form-field>
      </div>
  </div>
  <div fxFlex.gt-sm="5%"></div>
  <div fxFlex.gt-sm="10%">
    <div>
      <mat-form-field>
        <input [type]="uom_Detalle" matInput class="form-control form-control-line control" formControlName="uom_Detalle" placeholder="U de M">
      </mat-form-field>
    </div>
  </div>
  <div fxFlex.gt-sm="5%"></div>
  <div fxFlex.gt-sm="10%">
    <div>
      <mat-form-field>
        <input [type]="descripcion_Detalle" matInput class="form-control form-control-line control" formControlName="descripcion_Detalle" placeholder="Descripción">
      </mat-form-field>
    </div>
  </div>
  <div fxFlex.gt-sm="5%"></div>
  <div fxFlex.gt-sm="10%">
    <div>
      <mat-form-field>
        <input [type]="medida_Detalle" matInput class="form-control form-control-line control" formControlName="medida_Detalle" placeholder="Medida">
      </mat-form-field>
    </div>
  </div>
  <div fxFlex.gt-sm="5%"></div>
  <div fxFlex.gt-sm="10%">
    <div>
      <mat-form-field>
        <input [type]="color_Detalle" matInput class="form-control form-control-line control" formControlName="color_Detalle" placeholder="Color">
      </mat-form-field>
    </div>
  </div>
    
    <div fxFlex.gt-sm="20%" >
      <div>
        <ng-container *ngIf='requisicionId == 0' ><button mat-raised-button color="accent" (click)="add(newProject, $event)">Agregar</button></ng-container>
      </div>
    </div>
  </div>
  <br>
  <!-- TERMINA SECCION CAPTURA MANUAL -->
  </div>

  <div fxLayout="row" class="division">
    <div fxFlex.gt-sm="20%">
        <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
        <div></div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div>
        <ng-container *ngIf='requisicionId == 0' >
          <button mat-raised-button color="accent" (click)="clean($event)">Limpiar</button>
        </ng-container>
      </div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div>
        <ng-container *ngIf='requisicionId == 0' >
          <button mat-raised-button color="accent" (click)="save(newProject, $event)">Guardar</button>
        </ng-container>
        </div>
    </div>
    <div fxFlex.gt-sm="20%" >
      <div>
        <ng-container><button *ngIf='requisicionId == 0' mat-raised-button color="warn" (click)="cancel($event)">Cancelar</button></ng-container>
        <ng-container><button *ngIf='requisicionId != 0' mat-raised-button color="warn" (click)="cancel($event)">Regresar</button></ng-container>
      </div>
    </div>
  </div>
     <!-- INICIA CUERPO DE LA PÁGINA-->
     <div class="col-12 col-md-12 p-0">
      <div class="card">
        <div class="card-body card-body-table">
          <mat-table [dataSource]="UploadDataExcel" matSort class="mat-elevation-z8" style="width: 95%;">
              
            <!-- ID Column -->
            <ng-container matColumnDef="SKU">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col10"> <span>SKU</span> </th>
              <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> <span>Cantidad</span> </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="unidad_de_medida">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> Unidad de Medida </th>
              <td mat-cell *matCellDef="let element"> {{element.um}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="medida">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> Medida </th>
              <td mat-cell *matCellDef="let element"> {{element.medida}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="color">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> Color </th>
              <td mat-cell *matCellDef="let element"> {{element.color}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="otras_Especificaciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="col20"> Otras especificaciones </th>
              <td mat-cell *matCellDef="let element"> {{element.otras_especificaciones}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </mat-table>
    
        </div>
        <!-- <mat-paginator [pageSizeOptions]="[20, 100, 150]" [showFirstLastButtons]="true" [pageSize]="pageSize" [length]="totalSize"  (page)="handlePage($event)" style="width: 95%;"></mat-paginator> -->
      </div>
    </div>
  