<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">

        <app-sales-overview-grap></app-sales-overview-grap>

    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">

        <!-- <app-visiter-graph></app-visiter-graph> -->


    </div>
    <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

        <!-- <app-sticker></app-sticker> -->
        <!-- <app-contacts></app-contacts> -->
        <br>
        <div>
          <!-- <h6>Orden de compra</h6> -->
          <!-- <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 400px;">
                  
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
     -->
      </div>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">

        <!-- <app-activity></app-activity> -->

    </div>
    
</div>