.col10{
    width: 10%;
    vertical-align: middle;
}

.col20{
    width: 20%;
    vertical-align: middle;
}

.col30{
    width: 30%;
    vertical-align: middle;
}

.col70{
    width: 70%;
    vertical-align: middle;
}

.colbuttons{
    vertical-align: middle;
    text-align: center;
}

.icon-cog {
    color: orange;
  }

  .icon-cog-wite {
    color: white;
  }

  .btn-outline-secondary {
    background-color: #f78d03;
    -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-color: #cccccc;
  }

  .btn-rounded {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
  }

  .btn {
    min-width: 126px;
    height: 32px
}